.social_icon{
  color: white;
  margin-right: 1em;
}

.bg{
  background-color: #707070;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}



.search{
  color: white;
  border-color: white;
}

.services{
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

.nav{
  border-bottom: .2em solid white;
  padding: 0 0;
}

/* .logo{
  border: .1em solid white;
  height: 100%;
} */


.vertical-rule::after {
  content: '';
  border-left: 1px solid black; 
  height: 100px; 
  /* display: inline-block; */
  margin-left: 10px; 
}


.container{
  height: 100%;
}

.help{
  display: flexbox;
}

.small_text{
  flex-direction: row;
}

/* ............ HERO SECTION...................................................................... */

.hero_section{
  background-color: #707070;
}

.hero{
  margin-left: 10%;
}